.addRouteForm{
  display: flex;
  flex-direction: column;
}
.addRouteForm label {
  margin-bottom: 0px;
  margin-top: 15px;
  font-weight: bold;
}
.addRouteForm .button{
  border: none;
  width: 140px;
  padding: 5px 0px; 
  font-weight: bold;
  justify-content: center !important;
}