.large{
  font-size: 18px;
}
.detailWrap .img{
  width: 100%;
  height: 350px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(15px, 0px);
}
.details .header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}
.details .content p{
  margin-bottom: 10px;
}
.questions{
  margin-top: 30px;
}
.questions .header{
  border-bottom: 1px solid #000;
  margin-left: 0px;
}

.fullwidth{
  padding: 0 15px;
  width: 100%;
}

.image{
  display: none;
}

.videoUrl{
  display: none;
}

#latLongDiv{
  display: none;
}

#answer3Div{
  display: none;
}

#answer4Div{
  display: none;
}

#questionImage{
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

#questionVid{
  height: 100%;
  width: 100%;
}

#videoUrlcontainer {
  display: none;
}
