body {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: calc(100vh - 75px);
    margin-top: -50px;
}

@media (max-width: 768px) {
    .border-right {
        border: none !important;
    }

    .answers {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid #dee2e6;
    }
}