.collapsible {
    background-color: #C3222A;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    justify-content: start !important;
  }
  
  .collapsible:focus {
    outline: none;
  }
  
  .collapsible-text {
    float: left;
    margin-left: 10px;
  }
  
  .collapsible-points {
    margin-left: auto;
  }
  
  .active, .collapsible:hover {
    background-color: #78161b;
  }
  
  .collapsible-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #fff;
  }
  
  .collapsible img {
    transition: 0.3s ease-out;
  }
  
  .active img {
    transform:rotateZ(180deg);
  }

  .members-text {
      margin: 13px;
      margin-bottom: 20px;
  }